.btn {
    padding: 5px 10px;
    margin: 5px 0;
    color: blue;
    font-size: 14px;
    background: transparent;
    border: 1px solid blue;
    cursor: pointer;
    transition: all .3s ease;
}

.btn:hover {
    background: #ccc;
}