.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.box {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

.direction-column {
    flex-direction: column;
}