/* .container {
    max-width: 800px;
    margin: 10px auto;
} */


.box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.direction-column {
    flex-direction: column;
}

.card {
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
}