* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.center {
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}

.center-content {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  background-color: #222222;
}

.nav {
  height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav__left,
.nav__right {
  display: flex;
  align-items: center;
}

.nav__logo {
  margin-right: 31px;
  padding: 10px;
}
.nav__link {
  margin-right: 33px;
  padding: 10px;
}

.wrapper {
  background-color: #f1e4e6;
}

.brand {
  display: flex;
  align-items: center;
}

.brand__img {
  max-width: 800px;
  width: 50%;
}

.brand__text {
  position: relative;
}

.brand__text::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 12px;
  height: 100%;
  z-index: 10;
  background-color: #ff6a6a;
}

.brand__text-title {
  font-size: 48px;
  font-weight: 900;
  line-height: 57.6px;
  text-align: left;
}
.brand__text-subtitle {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  text-align: left;
}
.brand__text-subtitle span {
  color: #ff6a6a;
}

main {
  background-color: #fff;
}

.offer {
  margin-top: 65px;
  margin-bottom: 96px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.offer4 {
  grid-column: span 3;
}

.offer__img {
  width: 100%;
}

.offer__link {
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease;
}

.offer__link:hover {
  filter: brightness(80%);
}

.offer__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.offer__text-subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: center;
  color: #fff;
}

.offer__text-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: center;
  color: #f16d7f;
}

.products__title {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  color: #222222;
}

.products__text {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  color: #9f9f9f;

  margin-bottom: 48px;
}

.products__items {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);

  margin-bottom: 48px;
}

.products__item {
  position: relative;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.products__item:hover img {
  filter: brightness(40%);
}
.products__item:hover .products__add-to-cart {
  display: flex !important;
}

.products__item-img {
  width: 100%;
  transition: all 0.3s ease;
}

.products__item-box {
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
  background-color: #f8f8f8;
}

.products__item-title {
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
  text-align: left;
  color: #000;

  margin-bottom: 16px;
}

.products__item-subtitle {
  font-size: 14px;
  font-weight: 300;
  line-height: 16.8px;
  text-align: left;
  color: #5d5d5d;

  margin-bottom: 16px;
}

.products__item-coast {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: #f16d7f;
  background-color: #f8f8f8;
}

.products__add-to-cart {
  display: none !important;
  position: absolute;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff;
  padding: 12px 20px;

  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  transition: all 0.3s ease;
}

.products__add-to-cart svg {
  margin-right: 12px;
}

.products__button {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.button {
  border: 1px solid #ff6a6a;
  padding: 15px 40px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  color: #f26376;

  transition: all 0.3s ease;
}

.button:hover {
  background-color: #f26376;
  color: #fff;
}

.forms {
  background-color: #222224;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.forms__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 104px;
  padding-bottom: 104px;
}

.forms__item-title {
  font-size: 19.96px;
  font-weight: 400;
  line-height: 23.95px;
  text-align: left;
  color: #fbfbfb;
  margin-top: 28px;
  margin-bottom: 16px;
}

.forms__item-text {
  font-size: 13.97px;
  font-weight: 400;
  line-height: 16.77px;
  text-align: center;
  color: #fbfbfb;
}

.subscribe {
  background-image: url(img/subscribe.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px;
}

.subscribe__left {
  margin-top: 97px;
  margin-bottom: 126px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe__left-img {
  width: 25%;
  margin-bottom: 30px;
}

.subscribe__left-text {
  max-width: 320px;
  text-align: center;
}

.subscribe__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe__right-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 40.13px;
  text-align: center;
  color: #222224;
}

.subscribe__right-subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 30.1px;
  text-align: center;
  color: #222224;

  margin-bottom: 32px;
}
.subscribe__right > form {
  display: flex;
}

.subscribe__field {
  border: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
}
.btn-input {
  background-color: #e1e1e1;
  text-align: left;
  color: #222224;
  padding: 14px 64px 14px 22px;
  border-radius: 14px 0 0 14px;
}

.btn-button {
  background-color: #f16d7f;
  color: #fff;
  padding: 14px;
  border-radius: 0 14px 14px 0;

  transition: all 0.3s ease;
}

.btn-button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #f16d7f;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222224;
}

.footer__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: #fbfbfb;
  padding-left: 32px;
}

.footer__icons {
  padding: 24px 0;
  padding-right: 32px;
}
.footer__icon {
  margin-right: 7px;
  transition: all 0.3s ease;
}
.footer__icon svg path {
  transition: all 0.3s ease;
}

.footer__icon:hover path:first-child {
  fill: #f16d7f;
}
.footer__icon:hover path:last-child {
  fill: #fff;
}

/* media */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .brand__text-title {
    font-size: 44px;
    line-height: 52.8px;
  }

  .brand__text-subtitle {
    font-size: 24px;
    line-height: 28.8px;
  }

  .offer {
    margin-bottom: 110px;
    gap: 16px;
  }

  .products__items {
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 32px;
  }

  .margin-content {
    margin-left: 2%;
    margin-right: 2%;
  }

  .forms {
    grid-template-columns: 1fr;
    justify-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .forms__item {
    max-width: 360px;
    padding: 24px 20px;
  }

  .subscribe {
    grid-template-columns: 1fr;
    background-position: left;
  }

  .subscribe__left {
    margin-top: 64px;
    margin-bottom: 0;
  }

  .subscribe__left-img {
    width: 15%;
  }

  .subscribe__right {
    margin-bottom: 140px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .nav__right > .nav__link:nth-child(2) {
    display: none;
  }

  .nav__right > .nav__link:nth-child(3) {
    display: none;
  }

  .margin-content {
    margin-left: 2%;
    margin-right: 2%;
  }

  .nav {
    justify-content: space-between;
  }

  .nav__link {
    margin-right: 0;
  }
  .brand {
    justify-content: center;
    height: 363px;
  }

  .brand__img {
    display: none;
  }

  .brand__text-title {
    font-size: 38px;
    font-weight: 900;
    line-height: 45.6px;
  }

  .brand__text-subtitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }

  .offer {
    grid-template-columns: 1fr;
    margin-bottom: 64px;
    gap: 32px;
  }

  .offer4 {
    grid-column: 1;
  }

  .offer4 img {
    min-height: 110px;
  }

  .products__items {
    gap: 16px;
    grid-template-columns: 1fr;
    margin-bottom: 40px;
  }

  .products__button {
    margin-bottom: 85px;
  }

  .forms {
    grid-template-columns: 1fr;
    justify-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .forms__item {
    max-width: 360px;
    padding: 48px 20px;
  }

  .subscribe {
    grid-template-columns: 1fr;
    background-position: left;
  }

  .subscribe__left {
    margin-top: 64px;
    margin-bottom: 0;
  }

  .subscribe__left-img {
    width: 25%;
  }

  .subscribe__right {
    margin-bottom: 110px;
  }

  .btn-input {
    padding: 14px 0 14px 10px;
  }

  .footer {
    flex-direction: column-reverse;
    align-items: center;
  }
  .footer__icons {
    padding-right: 0;
  }
  .footer__text {
    padding-left: 0;
    padding-bottom: 9px;
  }
}
